<div class="container mx-auto px-4 mt-10">
  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-6">
    {% for category in categories %}
      <a href="{% url 'product:shop' slug=category.slug %}" class="flex flex-col justify-center items-center group mt-6"> <!-- mt-6 اضافه شد -->
        <div class="size-28 md:size-32 p-3 flex justify-center bg-white shadow-none md:shadow-none
                    hover:shadow-custom-sm border-2 border-zinc-200 transition-all
                    hover:border-primary-500 hover:shadow-primary-500 rounded-2xl">
          {% if category.image %}
            <img class="w-16 md:w-20 h-fit" src="{{ category.image.url }}" alt="{{ category.title }}">
          {% else %}
            <img class="w-16 md:w-20 h-fit opacity-40" src="{{ MEDIA_URL }}image/default-category.png" alt="بدون تصویر">
          {% endif %}
        </div>
        <h2 class="text-center text-zinc-700 pt-2 text-sm">
          {{ category.title }} <br>
        </h2>
      </a>
    {% empty %}
      <p class="col-span-full text-center text-gray-600 mt-6">هیچ دسته‌بندی پیدا نشد</p> <!-- mt-6 اضافه شد -->
    {% endfor %}
  </div>
</div>