{% extends "main_template.html" %}

{% load render_partial %}


{% block content %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <title>فروشگاه دیجی استار</title>
</head>
<body class="max-w-[1700px] mx-auto">



  <main class="pt-24 md:pt-48 px-2 md:px-10">
    <!-- hero slider -->
       {% render_partial 'main:slider_list_view' %}

    <!-- category -->
    {% render_partial 'product:category_group' %}
    <!-- filter products -->

    <!-- product slider 1 -->
    <div class="mt-12 md:mt-20">
      <!-- top slider -->
      <div class="flex gap-x-4 justify-between items-center mb-7">
        <div class="w-48 min-w-fit text-zinc-700 text-sm md:text-base md:font-yekanBakhBold">
          محصولات پرفروش
        </div>
        <div class="h-[1px] w-full bg-gradient-to-r from-white via-zinc-300 to-white">
        </div>
        <div class="w-32 min-w-fit text-left">
          <a href="" class="group transition flex items-center justify-center gap-x-1 md:gap-x-2 text-zinc-600 hover:text-primary-500 text-xs md:text-sm text-center">
            مشاهده همه
            <svg class="fill-zinc-600 group-hover:-translate-x-1 transition group-hover:fill-primary-500 size-2.5 md:size-3" xmlns="http://www.w3.org/2000/svg" width="" height="" fill="" viewBox="0 0 256 256"><path d="M224,128a8,8,0,0,1-8,8H59.31l58.35,58.34a8,8,0,0,1-11.32,11.32l-72-72a8,8,0,0,1,0-11.32l72-72a8,8,0,0,1,11.32,11.32L59.31,120H216A8,8,0,0,1,224,128Z"></path></svg>
          </a>
        </div>
      </div>
      <!-- main slider -->
      <div class="containerPSlider swiper">
        <div class="productSlider1">
          <div class="card-wrapper swiper-wrapper pb-10">
            <div class="card swiper-slide bg-white border border-zinc-200 rounded-2xl p-2 md:p-3 text-sm hover:shadow-custom transition-shadow">
              <a href="" class="text-zinc-800">
                <img class="rounded-xl mb-3" src=" {{media_url}}image/products/1.webp">
              </a>
              <p class="text-zinc-400 text-xs">
                Lap Top Lenovo Laser 107W
              </p>
              <a href="" class="text-zinc-800 text-xs md:text-sm h-8 lg:h-10 line-clamp-2 mt-2">
                لپ تاپ لنوو تک رنگ مدل Laser 107W اصلی
              </a>
              <div class="flex items-center justify-between mt-4">
                <div class="flex gap-1.5">
                  <div class="size-4 bg-zinc-800 rounded-full"></div>
                  <div class="size-4 bg-zinc-500 rounded-full"></div>
                  <div class="size-4 bg-zinc-300 rounded-full"></div>
                </div>
                <div class="flex items-start gap-x-1 text-xs text-zinc-500">
                  <span>
                    <span>
                      (72)
                    </span>
                    <span>
                      4.4
                    </span>
                  </span>
                  <svg class="fill-primary-500" xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#f9bc00" viewBox="0 0 256 256"><path d="M234.5,114.38l-45.1,39.36,13.51,58.6a16,16,0,0,1-23.84,17.34l-51.11-31-51,31a16,16,0,0,1-23.84-17.34L66.61,153.8,21.5,114.38a16,16,0,0,1,9.11-28.06l59.46-5.15,23.21-55.36a15.95,15.95,0,0,1,29.44,0h0L166,81.17l59.44,5.15a16,16,0,0,1,9.11,28.06Z"></path></svg>
                </div>
              </div>
              <div class="flex items-center justify-end border-t border-dashed border-zinc-300 mt-4 pt-2">
                <div class="text-zinc-800 flex items-center gap-x-1 justify-end font-yekanBakhBold text-lg">
                  17,270,000
                  <img class="size-4" src=" {{media_url}}image/icons/toman.png" alt="">
                </div>
              </div>
            </div>
            <div class="card swiper-slide bg-white border border-zinc-200 rounded-2xl p-2 md:p-3 text-sm hover:shadow-custom transition-shadow">
              <a href="" class="text-zinc-800">
                <img class="rounded-xl mb-3" src=" {{media_url}}image/products/2.webp">
              </a>
              <p class="text-zinc-400 text-xs">
                PS5 slim
              </p>
              <a href="" class="text-zinc-800 text-xs md:text-sm h-8 lg:h-10 line-clamp-2 mt-2">
                کنسول بازی ps5
              </a>
              <div class="flex items-center justify-between mt-4">
                <div class="flex gap-1.5">
                  <div class="size-4 bg-zinc-800 rounded-full"></div>
                  <div class="size-4 bg-zinc-300 rounded-full"></div>
                </div>
                <div class="flex items-start gap-x-1 text-xs text-zinc-500">
                  <span>
                    <span>
                      (25)
                    </span>
                    <span>
                      4.2
                    </span>
                  </span>
                  <svg class="fill-primary-500" xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#f9bc00" viewBox="0 0 256 256"><path d="M234.5,114.38l-45.1,39.36,13.51,58.6a16,16,0,0,1-23.84,17.34l-51.11-31-51,31a16,16,0,0,1-23.84-17.34L66.61,153.8,21.5,114.38a16,16,0,0,1,9.11-28.06l59.46-5.15,23.21-55.36a15.95,15.95,0,0,1,29.44,0h0L166,81.17l59.44,5.15a16,16,0,0,1,9.11,28.06Z"></path></svg>
                </div>
              </div>
              <div class="flex items-center justify-end border-t border-dashed border-zinc-300 mt-4 pt-2">
                <div class="text-zinc-800 flex items-center gap-x-1 justify-end font-yekanBakhBold text-lg">
                  24,500,000
                  <img class="size-4" src=" {{media_url}}image/icons/toman.png" alt="">
                </div>
              </div>
            </div>
            <div class="card swiper-slide bg-white border border-zinc-200 rounded-2xl p-2 md:p-3 text-sm hover:shadow-custom transition-shadow">
              <a href="" class="text-zinc-800">
                <img class="rounded-xl mb-3" src=" {{media_url}}image/products/3.webp">
              </a>
              <p class="text-zinc-400 text-xs">
                TSCO 726
              </p>
              <a href="" class="text-zinc-800 text-xs md:text-sm h-8 lg:h-10 line-clamp-2 mt-2">
                هنذفری تسکو مدل 726 TSCO
              </a>
              <div class="flex items-center justify-between mt-4">
                <div class="flex gap-1.5">
                  <div class="size-4 bg-zinc-800 rounded-full"></div>
                  <div class="size-4 bg-blue-500 rounded-full"></div>
                  <div class="size-4 bg-pink-500 rounded-full"></div>
                </div>
                <div class="flex items-start gap-x-1 text-xs text-zinc-500">
                  <span>
                    <span>
                      (97)
                    </span>
                    <span>
                      4.5
                    </span>
                  </span>
                  <svg class="fill-primary-500" xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#f9bc00" viewBox="0 0 256 256"><path d="M234.5,114.38l-45.1,39.36,13.51,58.6a16,16,0,0,1-23.84,17.34l-51.11-31-51,31a16,16,0,0,1-23.84-17.34L66.61,153.8,21.5,114.38a16,16,0,0,1,9.11-28.06l59.46-5.15,23.21-55.36a15.95,15.95,0,0,1,29.44,0h0L166,81.17l59.44,5.15a16,16,0,0,1,9.11,28.06Z"></path></svg>
                </div>
              </div>
              <div class="flex items-center justify-end border-t border-dashed border-zinc-300 mt-4 pt-2">
                <div class="text-zinc-800 flex items-center gap-x-1 justify-end font-yekanBakhBold text-lg">
                  1,270,000
                  <img class="size-4" src=" {{media_url}}image/icons/toman.png" alt="">
                </div>
              </div>
            </div>
            <div class="card swiper-slide bg-white border border-zinc-200 rounded-2xl p-2 md:p-3 text-sm hover:shadow-custom transition-shadow">
              <a href="" class="text-zinc-800">
                <img class="rounded-xl mb-3" src=" {{media_url}}image/products/4.webp">
              </a>
              <p class="text-zinc-400 text-xs">
                Lap Top Lenovo Laser 107W
              </p>
              <a href="" class="text-zinc-800 text-xs md:text-sm h-8 lg:h-10 line-clamp-2 mt-2">
                لپ تاپ اچ پی مدل 2023 اورجینال ویتنام
              </a>
              <div class="flex items-center justify-between mt-4">
                <div class="flex gap-1.5">
                  <div class="size-4 bg-zinc-800 rounded-full"></div>
                  <div class="size-4 bg-zinc-500 rounded-full"></div>
                  <div class="size-4 bg-zinc-300 rounded-full"></div>
                </div>
                <div class="flex items-start gap-x-1 text-xs text-zinc-500">
                  <span>
                    <span>
                      (12)
                    </span>
                    <span>
                      3.9
                    </span>
                  </span>
                  <svg class="fill-primary-500" xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#f9bc00" viewBox="0 0 256 256"><path d="M234.5,114.38l-45.1,39.36,13.51,58.6a16,16,0,0,1-23.84,17.34l-51.11-31-51,31a16,16,0,0,1-23.84-17.34L66.61,153.8,21.5,114.38a16,16,0,0,1,9.11-28.06l59.46-5.15,23.21-55.36a15.95,15.95,0,0,1,29.44,0h0L166,81.17l59.44,5.15a16,16,0,0,1,9.11,28.06Z"></path></svg>
                </div>
              </div>
              <div class="flex items-center justify-end border-t border-dashed border-zinc-300 mt-4 pt-2">
                <div class="text-zinc-800 flex items-center gap-x-1 justify-end font-yekanBakhBold text-lg">
                  23,000,000
                  <img class="size-4" src=" {{media_url}}image/icons/toman.png" alt="">
                </div>
              </div>
            </div>
            <div class="card swiper-slide bg-white border border-zinc-200 rounded-2xl p-2 md:p-3 text-sm hover:shadow-custom transition-shadow">
              <a href="" class="text-zinc-800">
                <img class="rounded-xl mb-3" src=" {{media_url}}image/products/5.webp">
              </a>
              <p class="text-zinc-400 text-xs">
                Lap Top Lenovo Laser 107W
              </p>
              <a href="" class="text-zinc-800 text-xs md:text-sm h-8 lg:h-10 line-clamp-2 mt-2">
                موبایل شیائومی مدل پوکو
              </a>
              <div class="flex items-center justify-between mt-4">
                <div class="flex gap-1.5">
                  <div class="size-4 bg-zinc-800 rounded-full"></div>
                  <div class="size-4 bg-zinc-500 rounded-full"></div>
                  <div class="size-4 bg-green-300 rounded-full"></div>
                </div>
                <div class="flex items-start gap-x-1 text-xs text-zinc-500">
                  <span>
                    <span>
                      (44)
                    </span>
                    <span>
                      4.2
                    </span>
                  </span>
                  <svg class="fill-primary-500" xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#f9bc00" viewBox="0 0 256 256"><path d="M234.5,114.38l-45.1,39.36,13.51,58.6a16,16,0,0,1-23.84,17.34l-51.11-31-51,31a16,16,0,0,1-23.84-17.34L66.61,153.8,21.5,114.38a16,16,0,0,1,9.11-28.06l59.46-5.15,23.21-55.36a15.95,15.95,0,0,1,29.44,0h0L166,81.17l59.44,5.15a16,16,0,0,1,9.11,28.06Z"></path></svg>
                </div>
              </div>
              <div class="flex items-center justify-end border-t border-dashed border-zinc-300 mt-4 pt-2">
                <div class="text-zinc-800 flex items-center gap-x-1 justify-end font-yekanBakhBold text-lg">
                  15,750,000
                  <img class="size-4" src=" {{media_url}}image/icons/toman.png" alt="">
                </div>
              </div>
            </div>
            <div class="card swiper-slide bg-white border border-zinc-200 rounded-2xl p-2 md:p-3 text-sm hover:shadow-custom transition-shadow">
              <a href="" class="text-zinc-800">
                <img class="rounded-xl mb-3" src=" {{media_url}}image/products/6.webp">
              </a>
              <p class="text-zinc-400 text-xs">
                apple
              </p>
              <a href="" class="text-zinc-800 text-xs md:text-sm h-8 lg:h-10 line-clamp-2 mt-2">
                اپل واچ مدل ویتنام
              </a>
              <div class="flex items-center justify-between mt-4">
                <div class="flex gap-1.5">
                  <div class="size-4 bg-zinc-800 rounded-full"></div>
                  <div class="size-4 bg-red-500 rounded-full"></div>
                  <div class="size-4 bg-green-500 rounded-full"></div>
                </div>
                <div class="flex items-start gap-x-1 text-xs text-zinc-500">
                  <span>
                    <span>
                      (5)
                    </span>
                    <span>
                      4.8
                    </span>
                  </span>
                  <svg class="fill-primary-500" xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#f9bc00" viewBox="0 0 256 256"><path d="M234.5,114.38l-45.1,39.36,13.51,58.6a16,16,0,0,1-23.84,17.34l-51.11-31-51,31a16,16,0,0,1-23.84-17.34L66.61,153.8,21.5,114.38a16,16,0,0,1,9.11-28.06l59.46-5.15,23.21-55.36a15.95,15.95,0,0,1,29.44,0h0L166,81.17l59.44,5.15a16,16,0,0,1,9.11,28.06Z"></path></svg>
                </div>
              </div>
              <div class="flex items-center justify-end border-t border-dashed border-zinc-300 mt-4 pt-2">
                <div class="text-zinc-800 flex items-center gap-x-1 justify-end font-yekanBakhBold text-lg">
                  35,000,000
                  <img class="size-4" src=" {{media_url}}image/icons/toman.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 2 banner -->
        {% render_partial 'main:slider_main_view' %}

    <!-- product slider 2 -->
        {% render_partial 'product:recently' %}

    <!-- brands -->
            {% render_partial 'product:brands' %}

    <!-- blog -->
    <div class="mt-12 md:mt-20">
      <!-- top -->
      <div class="flex gap-x-4 justify-between items-center mb-7">
        <div class="w-48 min-w-fit text-zinc-700 text-sm md:text-base md:font-yekanBakhBold">
          جدیدترین مقالات
        </div>
        <div class="h-[1px] w-full bg-gradient-to-r from-white via-zinc-300 to-white">
        </div>
        <div class="w-32 min-w-fit text-left">
          <a href="" class="group transition flex items-center justify-center gap-x-1 md:gap-x-2 text-zinc-600 hover:text-primary-500 text-xs md:text-sm text-center">
            مشاهده همه
            <svg class="fill-zinc-600 group-hover:-translate-x-1 transition group-hover:fill-primary-500 size-2.5 md:size-3" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="" viewBox="0 0 256 256"><path d="M224,128a8,8,0,0,1-8,8H59.31l58.35,58.34a8,8,0,0,1-11.32,11.32l-72-72a8,8,0,0,1,0-11.32l72-72a8,8,0,0,1,11.32,11.32L59.31,120H216A8,8,0,0,1,224,128Z"></path></svg>
          </a>
        </div>
      </div>
      <!-- main -->
      <div class="containerPSlider swiper">
          <div class="blog1 pb-16 px-4">
            <div class="card-wrapper swiper-wrapper">
              <div class="card swiper-slide bg-white min-h-60 rounded-2xl border hover:border-primary-500 transition border-zinc-300 group p-2 md:p-3 hover:drop-shadow-lg">
                <a href="" class="image-box block overflow-hidden rounded-lg md:rounded-2xl">
                  <img class="rounded-lg md:rounded-2xl max-h-56 w-full
                  transition-transform duration-300 ease-in-out group-hover:rotate-3
                  group-hover:scale-110" src=" {{media_url}}image/blog/keybl.jpg" />
                </a>
                <div class="p-2 mt-2">
                  <a href="" class="text-xs md:text-sm font-normal md:font-semibold text-zinc-700 group-hover:text-primary-500 h-12 line-clamp-2 leading-6">
                    بهترین کیبورد بازار برای گیم و برنامه نویسی چی پیشنهاد میشه؟
                  </a>
                  <div class="flex justify-between mt-8">
                    <div class="text-xs flex gap-x-1 items-center text-zinc-400">
                      <svg
                        class="fill-zinc-400"
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill=""
                        viewBox="0 0 256 256">
                        <path d="M208,32H184V24a8,8,0,0,0-16,0v8H88V24a8,8,0,0,0-16,0v8H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32ZM72,48v8a8,8,0,0,0,16,0V48h80v8a8,8,0,0,0,16,0V48h24V80H48V48ZM208,208H48V96H208V208Z"></path>
                      </svg>
                      1404/02/19
                    </div>
                    <a href="" class="flex justify-center items-center gap-x-1 group w-fit text-xs md:text-sm transition text-zinc-600 group-hover:text-primary-500">
                      ادامه مطلب
                      <svg
                        class="fill-zinc-600 transition group-hover:fill-primary-500 size-2 md:size-4"
                        xmlns="http://www.w3.org/2000/svg"
                        width="14"
                        height="14"
                        fill=""
                        viewBox="0 0 256 256">
                        <path d="M224,128a8,8,0,0,1-8,8H59.31l58.35,58.34a8,8,0,0,1-11.32,11.32l-72-72a8,8,0,0,1,0-11.32l72-72a8,8,0,0,1,11.32,11.32L59.31,120H216A8,8,0,0,1,224,128Z"></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
              <div class="card swiper-slide bg-white min-h-60 rounded-2xl border hover:border-primary-500 transition border-zinc-300 group p-2 md:p-3 hover:drop-shadow-lg">
                <a href="" class="image-box block overflow-hidden rounded-lg md:rounded-2xl">
                  <img class="rounded-lg md:rounded-2xl max-h-56 w-full
                  transition-transform duration-300 ease-in-out group-hover:rotate-3
                  group-hover:scale-110" src=" {{media_url}}image/blog/2.png" />
                </a>
                <div class="p-2 mt-2">
                  <a href="" class="text-xs md:text-sm font-normal md:font-semibold text-zinc-700 group-hover:text-primary-500 h-12 line-clamp-2 leading-6">
                    این ابزار لازمت میشه !
                  </a>
                  <div class="flex justify-between mt-8">
                    <div class="text-xs flex gap-x-1 items-center text-zinc-400">
                      <svg
                        class="fill-zinc-400"
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill=""
                        viewBox="0 0 256 256">
                        <path d="M208,32H184V24a8,8,0,0,0-16,0v8H88V24a8,8,0,0,0-16,0v8H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32ZM72,48v8a8,8,0,0,0,16,0V48h80v8a8,8,0,0,0,16,0V48h24V80H48V48ZM208,208H48V96H208V208Z"></path>
                      </svg>
                      1404/02/19
                    </div>
                    <a href="" class="flex justify-center items-center gap-x-1 group w-fit text-xs md:text-sm transition text-zinc-600 group-hover:text-primary-500">
                      ادامه مطلب
                      <svg
                        class="fill-zinc-600 transition group-hover:fill-primary-500 size-2 md:size-4"
                        xmlns="http://www.w3.org/2000/svg"
                        width="14"
                        height="14"
                        fill=""
                        viewBox="0 0 256 256">
                        <path d="M224,128a8,8,0,0,1-8,8H59.31l58.35,58.34a8,8,0,0,1-11.32,11.32l-72-72a8,8,0,0,1,0-11.32l72-72a8,8,0,0,1,11.32,11.32L59.31,120H216A8,8,0,0,1,224,128Z"></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
              <div class="card swiper-slide bg-white min-h-60 rounded-2xl border hover:border-primary-500 transition border-zinc-300 group p-2 md:p-3 hover:drop-shadow-lg">
                <a href="" class="image-box block overflow-hidden rounded-lg md:rounded-2xl">
                  <img class="rounded-lg md:rounded-2xl max-h-56 w-full
                  transition-transform duration-300 ease-in-out group-hover:rotate-3
                  group-hover:scale-110" src=" {{media_url}}image/blog/3.png" />
                </a>
                <div class="p-2 mt-2">
                  <a href="" class="text-xs md:text-sm font-normal md:font-semibold text-zinc-700 group-hover:text-primary-500 h-12 line-clamp-2 leading-6">
                    سلر استارز های ایران
                  </a>
                  <div class="flex justify-between mt-8">
                    <div class="text-xs flex gap-x-1 items-center text-zinc-400">
                      <svg
                        class="fill-zinc-400"
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill=""
                        viewBox="0 0 256 256">
                        <path d="M208,32H184V24a8,8,0,0,0-16,0v8H88V24a8,8,0,0,0-16,0v8H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32ZM72,48v8a8,8,0,0,0,16,0V48h80v8a8,8,0,0,0,16,0V48h24V80H48V48ZM208,208H48V96H208V208Z"></path>
                      </svg>
                      1404/02/19
                    </div>
                    <a href="" class="flex justify-center items-center gap-x-1 group w-fit text-xs md:text-sm transition text-zinc-600 group-hover:text-primary-500">
                      ادامه مطلب
                      <svg
                        class="fill-zinc-600 transition group-hover:fill-primary-500 size-2 md:size-4"
                        xmlns="http://www.w3.org/2000/svg"
                        width="14"
                        height="14"
                        fill=""
                        viewBox="0 0 256 256">
                        <path d="M224,128a8,8,0,0,1-8,8H59.31l58.35,58.34a8,8,0,0,1-11.32,11.32l-72-72a8,8,0,0,1,0-11.32l72-72a8,8,0,0,1,11.32,11.32L59.31,120H216A8,8,0,0,1,224,128Z"></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
              <div class="card swiper-slide bg-white min-h-60 rounded-2xl border hover:border-primary-500 transition border-zinc-300 group p-2 md:p-3 hover:drop-shadow-lg">
                <a href="" class="image-box block overflow-hidden rounded-lg md:rounded-2xl">
                  <img class="rounded-lg md:rounded-2xl max-h-56 w-full
                  transition-transform duration-300 ease-in-out group-hover:rotate-3
                  group-hover:scale-110" src=" {{media_url}}image/blog/4.png" />
                </a>
                <div class="p-2 mt-2">
                  <a href="" class="text-xs md:text-sm font-normal md:font-semibold text-zinc-700 group-hover:text-primary-500 h-12 line-clamp-2 leading-6">
                    بررسی گوشی پیکسل گوگل - آیا ارزش خرید داره یا نه؟
                  </a>
                  <div class="flex justify-between mt-8">
                    <div class="text-xs flex gap-x-1 items-center text-zinc-400">
                      <svg
                        class="fill-zinc-400"
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill=""
                        viewBox="0 0 256 256">
                        <path d="M208,32H184V24a8,8,0,0,0-16,0v8H88V24a8,8,0,0,0-16,0v8H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32ZM72,48v8a8,8,0,0,0,16,0V48h80v8a8,8,0,0,0,16,0V48h24V80H48V48ZM208,208H48V96H208V208Z"></path>
                      </svg>
                      1404/02/19
                    </div>
                    <a href="" class="flex justify-center items-center gap-x-1 group w-fit text-xs md:text-sm transition text-zinc-600 group-hover:text-primary-500">
                      ادامه مطلب
                      <svg
                        class="fill-zinc-600 transition group-hover:fill-primary-500 size-2 md:size-4"
                        xmlns="http://www.w3.org/2000/svg"
                        width="14"
                        height="14"
                        fill=""
                        viewBox="0 0 256 256">
                        <path d="M224,128a8,8,0,0,1-8,8H59.31l58.35,58.34a8,8,0,0,1-11.32,11.32l-72-72a8,8,0,0,1,0-11.32l72-72a8,8,0,0,1,11.32,11.32L59.31,120H216A8,8,0,0,1,224,128Z"></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
              <div class="card swiper-slide bg-white min-h-60 rounded-2xl border hover:border-primary-500 transition border-zinc-300 group p-2 md:p-3 hover:drop-shadow-lg">
                <a href="" class="image-box block overflow-hidden rounded-lg md:rounded-2xl">
                  <img class="rounded-lg md:rounded-2xl max-h-56 w-full
                  transition-transform duration-300 ease-in-out group-hover:rotate-3
                  group-hover:scale-110" src=" {{media_url}}image/blog/2.png" />
                </a>
                <div class="p-2 mt-2">
                  <a href="" class="text-xs md:text-sm font-normal md:font-semibold text-zinc-700 group-hover:text-primary-500 h-12 line-clamp-2 leading-6">
                    این ابزار لازمت میشه
                  </a>
                  <div class="flex justify-between mt-8">
                    <div class="text-xs flex gap-x-1 items-center text-zinc-400">
                      <svg
                        class="fill-zinc-400"
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill=""
                        viewBox="0 0 256 256">
                        <path d="M208,32H184V24a8,8,0,0,0-16,0v8H88V24a8,8,0,0,0-16,0v8H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32ZM72,48v8a8,8,0,0,0,16,0V48h80v8a8,8,0,0,0,16,0V48h24V80H48V48ZM208,208H48V96H208V208Z"></path>
                      </svg>
                      1404/02/19
                    </div>
                    <a href="" class="flex justify-center items-center gap-x-1 group w-fit text-xs md:text-sm transition text-zinc-600 group-hover:text-primary-500">
                      ادامه مطلب
                      <svg
                        class="fill-zinc-600 transition group-hover:fill-primary-500 size-2 md:size-4"
                        xmlns="http://www.w3.org/2000/svg"
                        width="14"
                        height="14"
                        fill=""
                        viewBox="0 0 256 256">
                        <path d="M224,128a8,8,0,0,1-8,8H59.31l58.35,58.34a8,8,0,0,1-11.32,11.32l-72-72a8,8,0,0,1,0-11.32l72-72a8,8,0,0,1,11.32,11.32L59.31,120H216A8,8,0,0,1,224,128Z"></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </main>


</body>

</html>
{% endblock content %}