{% extends "main_template.html" %}

{% load render_partial %}


{% block content %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <title>فروشگاه دیجی استار</title>
</head>
<body class="max-w-[1700px] mx-auto">



  <main class="pt-24 md:pt-48 px-2 md:px-10">
    <!-- hero slider -->
       {% render_partial 'main:slider_list_view' %}

    <!-- category -->
    {% render_partial 'product:category_group' %}
    <!-- filter products -->

    <!-- product slider 1 -->
     {% render_partial 'product:best_selling_products_view' %}
    <!-- 2 banner -->
        {% render_partial 'main:slider_main_view' %}

    <!-- product slider 2 -->
        {% render_partial 'product:recently' %}

    <!-- brands -->
            {% render_partial 'product:brands' %}

    <!-- blog -->
            {% render_partial 'blog:blogmain' %}

  </main>


</body>

</html>
{% endblock content %}